@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  transition: all 0.3s ease-in-out;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  background: #121212;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu,
.ant-dropdown-menu-submenu-title {
  padding: 0 !important;
  margin: 0 !important;
}
