@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  transition: all 0.3s ease-in-out;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  background: #121212;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
